@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply p-0 m-0 font-sans text-white bg-gray-800;
}

h1 {
  @apply pl-6 text-3xl font-medium;
}

h2 {
  @apply pl-2 text-2xl;
}

h3 {
  @apply text-xl;
}

a {
  @apply font-semibold text-teal-300 no-underline;
}

.btnIcon {
  @apply flex items-center mt-2;
}

.btnIcon svg {
  @apply w-6 pr-1 text-white fill-current;
}

.btnPrimary {
  @apply p-2 text-white bg-teal-500 rounded;
}

.btnSecondary {
  @apply p-2 text-white bg-red-500 rounded;
}

input {
  @apply px-2 py-1 text-gray-800;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
