{{page-title "Bands"}}
<div class="w-96">
  {{#each this.model as |band|}}
    <div class="flex justify-between">
      <div>
        {{band.name}}
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}